<% include partials/header %>



<div class="ui container" style="margin-top: 6em">
	<div class="text-center">
	  <div class="page-header">
    <h1>All patients</h1>
  </div>
	 </div>

	
  
	
<table class="ui blue celled table">
  <thead>
      	<tr>
          <th>Name  </th>
          <th>Age</th>
          <th>Gender</th>
          <th>Phone No.</th>
		<th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
      	<%  users.forEach(function(User){ %>
          
        </tr>
        <tr>
        <td><%=User.name %></td>
        <td><%=User.age %></td>
        <td><%=User.gender %></td>
        <td><%=User.phone %></td>
        <td>
          <form action="/docs/<%= User._id %>/<%= Doc._id %>" method="POST" style="display: inline">
      <button  class="ui violet basic button">
        Add
      </button>
    </form>
  </td>
     	<% }) %>          
     </tr>
   </tbody>
   </table>

  <div class="ui center aligned container">
    <button class="ui teal basic button"><a href="/docs/<%=Doc._id%>">Back</a></button>
</div>

<% include partials/footer %>